{% extends "base.html" %}
{% block content %}

<section class="hero">

    <div class="profile-pic">
        <img src="{{ url_for('static', filename='images/myphoto.jpeg') }}" alt="Profile Photo">
    </div>

    <div class="hero-content">
        <h1>Building <span>Digital Solutions</span></h1>
        <p>Full-Stack Developer | Flask | Python | Modern UI</p>
      
    </div>


<div class="hero-buttons">
    <a href="#projects" class="btn hero-btn primary-btn">
        View Projects
    </a>

    <a href="{{ url_for('static', filename='resume.pdf') }}"
       class="btn hero-btn secondary-btn"
       download>
        Download Resume
    </a>
</div>


</section>

{% endblock %}
